@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
	margin: 0px;
	padding: 50px;
	width: 900px;
	margin:auto;
	font-size: 18px;
	font-family: Lato;
}
header {
	margin-bottom: 20px;
	background: #efefef;
	padding: 10px;
}
header strong{
	font-size: 32px;
}
table{
	width:100%;
}
thead{
}
thead th{
	text-align: center;
	width: 300px;
}
thead th:nth-child(1){
	text-align: left;
}
thead tr{
	border-bottom:0px !important;
}
td{
	width:300px;
}
td:nth-child(2),
td:nth-child(3){
	text-align: center;
}
tr{
	display: block;
	border-bottom: 1px solid #000;
}