<form id="formulario" method="post" action ="">
	<fieldset id="field">
		<legend>Confira sua inscrição</legend>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nunc urna, ullamcorper elementum aliquam condimentum, tincidunt eget metus.</p>

			<label for="email">
				<span>E-mail</span>
				<input type="text" name="email" id="email" value="<?php echo (isset($email)) ? $email : ''; ?>"/>
			</label>

			<label for="senha">
				<span>Senha</span>
				<input type="password" name="senha" id="senha" value="<?php echo (isset($senha)) ? $senha : ''; ?>"/>
			</label>
			
			<input type="submit" id="enviar" name="infouneb" value="Entrar" />
			<a href="" class="forget_password">Esqueci minha senha</a>
	</fieldset>
</form>
