<form action="" method="post" id="publico_inscricao">

	<fieldset> 
		<legend>Dados de Acesso</legend>

		<label for="email">
			<span>E-mail</span>
			<input type="text" name="email" value="<?php echo (isset($email)) ? $email : ''; ?>" id="email">
		</label>

		<label for="senha">
			<span>Senha</span>
			<input type="password" name="senha" value="<?php echo (isset($senha)) ? $senha : ''; ?>" id="senha">
		</label>

		<label for="confirme_senha">
			<span>Confirme sua senha</span>
			<input type="password" name="confirme_senha" value="<?php echo (isset($confirme_senha)) ? $confirme_senha : ''; ?>" id="confirme_senha">
		</label>

	</fieldset>

	<fieldset>
		<legend>Dados Pessoais</legend>

		<label for="nome">
			<span>Nome completo</span>
			<input type="text" name="nome" value="<?php echo (isset($nome)) ? $nome : ''; ?>" id="nome">
		</label>

		<label for="cpf">
			<span>CPF</span>
			<input type="text" name="cpf" value="<?php echo (isset($cpf)) ? $cpf : ''; ?>" id="cpf">
		</label>

		<label for="nascimento">
			<span>Data de Nascimento</span>
			<select name="nascimento_dia" id="nascimento_dia">
				<?php
					for($i = 1; $i <= 31; $i++) {
						$data = (strlen($i) == 1) ? '0'.$i : $i;
						echo "<option value=\"{$data}\">{$data}</option>";
					}
				?>
			</select>
			<select name="nascimento_mes" id="nascimento_mes">
				<?php
					for($i = 1; $i <= 12; $i++) {
						$data = (strlen($i) == 1) ? '0'.$i : $i;
						echo "<option value=\"{$data}\">{$data}</option>";
					}
				?>
			</select>
			<select name="nascimento_ano" id="nascimento_ano">
				<?php
					for($i = 1920; $i <= 2008; $i++) {
						$dezoito = ((date("Y") - $i) == 18) ? " selected" : '';
						echo "<option value=\"{$i}\"{$dezoito}>{$i}</option>";
					}
				?>
			</select>
		</label>

		<label for="sexo">
			<span>Sexo</span>
			<input type="radio" name="sexo" value="0" checked="checked"> Masculino
			<input type="radio" name="sexo" value="1"> Feminino
		</label>
		
		<label for="telefone">
			<span>Telefone</span>
			<input type="text" name="telefone" value="<?php echo (isset($telefone)) ? $telefone : ''; ?>" id="telefone">
		</label>

		<label for="celular">
			<span>Celular</span>
			<input type="text" name="celular" value="<?php echo (isset($celular)) ? $celular : ''; ?>" id="celular">
		</label>

	</fieldset>

	<fieldset>
		<legend>Dados Profissionais</legend>

		<label for="profissional">
			<input type="radio" name="profissional" value="0" checked> Estudante
			<input type="radio" name="profissional" value="1"> Profissional
		</label>

		<label for="titulo">
			<span>Titulo</span>
			<select name="titulo" id="titulo">
				<?php
					$titulos = array("Graduação", "Pós-Graduação", "Mestrado", "Doutorado", "PhD", "Autodidata");
					foreach ($titulos as $id => $titulo) {
						echo "<option value=\"{$id}\">{$titulo}</option>";
					}
				?>
			</select>
		</label>

		<label for="area">
			<span>Área de Atuação</span>
			<input type="text" name="area" id="area" value="<?php echo (isset($area)) ? $area : ''; ?>">
		</label>

	</fieldset>


	<fieldset>
		<legend>Minicursos & Laboratórios</legend>

		<table>
			<thead>
				<th>Hora</th>
				<th>Seg.</th>
				<th>Ter.</th>
				<th>Quar.</th>
				<th>Qui.</th>
				<th>Sex.</th>
			</thead>
			<tbody>
				<tr>
					<td>Hora</td>
					<td>
						<strong>Curso I</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso1" date-hora="1" value="1">
					</td>
					<td>
						<strong>Curso I</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso1" date-hora="1" value="1">
					</td>
					<td>
						<strong>Curso II</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso2" date-hora="1" value="2">
					</td>
					<td>
						<strong>Curso II</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso2" date-hora="1" value="2">
					</td>
					<td>
						<strong>Curso II</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso2" date-hora="1" value="2">
					</td>
				</tr>
				<tr>
					<td>Hora</td>
					<td>
						<strong>Curso III</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso3" date-hora="1" value="1">
					</td>
					<td>
						<strong>Curso III</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso3" date-hora="1" value="1">
					</td>
					<td>
						<strong>Curso IV</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso4" date-hora="1" value="2">
					</td>
					<td>
						<strong>Curso IV</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso4" date-hora="1" value="2">
					</td>
					<td>
						<strong>Curso IV</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="curso4" date-hora="1" value="2">
					</td>
				</tr>
				<tr>
					<td>Hora</td>
					<td>
						<strong>Lab I</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab1" date-hora="2" value="1">
					</td>
					<td>
						<strong>Lab I</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab1" date-hora="2" value="1">
					</td>
					<td>
						<strong>Lab II</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab2" date-hora="2" value="2">
					</td>
					<td>
						<strong>Lab II</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab2" date-hora="2" value="2">
					</td>
					<td>
						<strong>Lab II</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab2" date-hora="2" value="2">
					</td>
				</tr>
				<tr>
					<td>Hora</td>
					<td>
						<strong>Lab III</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab3" date-hora="2" value="1">
					</td>
					<td>
						<strong>Lab III</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab3" date-hora="2" value="1">
					</td>
					<td>
						<strong>Lab IV</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab4" date-hora="2" value="2">
					</td>
					<td>
						<strong>Lab IV</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab4" date-hora="2" value="2">
					</td>
					<td>
						<strong>Lab IV</strong>
						<span class="valor">R$ 00,00</span>
						<span class="vagas">Vagas: 00/00</span>
						<input type="checkbox" name="bli" id="lab4" date-hora="2" value="2">
					</td>
				</tr>
			</tbody>
		</table>

	</fieldset>

	<fieldset>
		<input type="checkbox" name="tos" value="tos"> Eu aceito os <a href="">termos de uso</a>.<br />
		<input type="submit" id="cadastrar" name="infouneb" value="Cadastrar">
	</fieldset>
</form>